body{

background:#0a0f1a;
color:#00ffa6;
font-family:Arial;
margin:0;

}

header{

background:#020617;
padding:10px;
display:flex;
justify-content:space-between;

}

.title{

font-weight:bold;

}

.badge{

 فرضpadding:4px 8px;
border-radius:4px;
color:white;

}

.green{background:green;}
.red{background:red;}
.gray{background:gray;}

.main{

display:flex;
flex-wrap:wrap;
padding:10px;

}

.tankSection{

width:200px;
text-align:center;

}

.tank{

width:80px;
height:200px;
border:2px solid #00ffa6;
margin:auto;
position:relative;

}

.tankFill{

position:absolute;
bottom:0;
width:100%;
height:0%;
background:#00ffa6;
transition:height 0.5s;

}

.metrics{

flex:1;
display:grid;
grid-template-columns:repeat(auto-fit,120px);
gap:10px;

}

.card{

background:#020617;
padding:10px;
text-align:center;

}

footer{

padding:10px;
background:#020617;

}

a{

color:#00ffa6;

}
